<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>弁当注文システム</title>
</head>
<body>
	<main>
		<h1>弁当注文システム</h1>

		<p>この内容で申告してよろしいですか？<p>
		<form action="#" th:action="@{/purchaseRegister}" method="post">
			<p>注文年月日</p>
			<p th:text="${date}" />
			<p>注文数</p>
			<p th:text="${suu}" />
			<input class="positive" type="submit" value="はい">
		</form>
		<form action="#" th:action="@{/backuserTop}"method="post">
			<input class="negative" type="submit" value="いいえ">
		</form>
	</main>
</body>
</html>